APP_NAME=ProjectBrief
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://brief.web86.site
FRONTEND_URL=https://brief.web86.site
APP_LOCALE=ru
APP_FALLBACK_LOCALE=en
APP_MAINTENANCE_DRIVER=file
LOG_CHANNEL=single
LOG_LEVEL=warning
DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=specchina_breaf_tz
DB_USERNAME=
DB_PASSWORD=
SESSION_DRIVER=database
SESSION_LIFETIME=525600
SESSION_EXPIRE_ON_CLOSE=false
SESSION_ENCRYPT=true
SESSION_COOKIE=project_brief_session
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax
SESSION_HTTP_ONLY=true
CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local
MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=ProjectBrief
NOTIFICATION_ADMIN_LOCALE=ru
VAPID_SUBJECT=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
